/* Global styles */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https: //cloudinary.hbs.edu/hbsit/image/upload/s--7y0so_vb--/f_auto,c_fill,h_375,w_750,/v20200101/12137EC14467B0AF425FE1ACBDFDBA66.jpg");

}

h1 {
  font-size: 24px;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

/* Component styles */

.invest-form {
  margin-top: 20px;
}

.invest-form select {
  width: 100%;
}

.invest-form input {
  width: 100%;
  margin-bottom: 10px;
}

.invest-form button {
  width: 100%;
}

/* Animation styles */

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.bounce-up {
  animation: bounceUp 1s ease-in-out;
}

.color-change {
  animation: colorChange 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: red;
  }

  50% {
    color: green;
  }

  100% {
    color: blue;
  }
}